<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>com.pkg.controllers.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostEditController</servlet-name>
        <servlet-class>com.pkg.controllers.PostEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordsController</servlet-name>
        <servlet-class>com.pkg.controllers.RecordsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfDownloadController</servlet-name>
        <servlet-class>com.pkg.controllers.PdfDownloadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelDownloadController</servlet-name>
        <servlet-class>com.pkg.controllers.ExcelDownloadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEditController</servlet-name>
        <url-pattern>/PostEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordsController</servlet-name>
        <url-pattern>/RecordsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfDownloadController</servlet-name>
        <url-pattern>/PdfDownloadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelDownloadController</servlet-name>
        <url-pattern>/ExcelDownloadController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
